body {
  /*background-color: lightblue;*/
}

.container {
  display: flex;

  min-width: 320px;

  grid-template-areas:
    'header'
    'main'
    'nav';
  flex-direction: column;
}

h1 {
  font-family: courier;
  text-align: center;
  font-size: large;
  margin-top: 5%;
  text-decoration: underline;
}

p {
  font-family: courier bold;
  margin: 10px;
}

img {
  border: 1px solid black;
  margin: 5px 10px 10px 10px;
}
a {
  font-family: courier;
}

header {
  border-bottom: 5px solid black;
  background-color: orange;
  border: 1px solid black;
}

main {
  background-color: red;
  /* border: 5px solid black;*/
  border-bottom: none;
}

nav {
  background-color: orange;

  border-left: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  border-top: none;
}

p {
  font-family: courier bold;
  margin: 20px;
  font-size: normal;
}

label {
  text-align: left;
}

img {
  border: 1px solid black;
  height: 170%;

  margin: 0 10px 10px 10px;
  float: left;
}

a {
  font-family: courier;
  font-size: normal;
  text-decoration: none;
}

.site_header {
  background-color: yellow;
  border: 5px solid black;
  flex: 1;

  /* grid-area: header;*/
}

.site_main {
  /* border-right: 5px solid black;
  border-left: 5px solid black;*/
  border: 5px solid black;
  background-color: lightblue;
  flex: 2;
  border-top: none;

  /* grid-area: main;*/
}

.site_nav {
  background-color: yellow;
  border: 5px solid black;
  flex: 1;
  border-top: none;
  /* grid-area: nav;*/
}

form {
  margin: 10px;
  border: 2px solid black;
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: left;
}

textarea {
  margin-left: 40px;
  display: block;
}

ul {
  margin-top: 30px;
  margin-bottom: 100px;
  font-size: normal;
}

ul li {
  border: 3px solid black;
  font-size: normal;
  display: block;
  width: 95%;
}

li {
  text-align: center;
}

.linkbottom {
  border-bottom: none;
}

a {
  font-size: normal;
}

.container {
  display: flexbox;

  min-width: 320px;

  grid-template-areas:
    'header'
    'main'
    'nav';
}

@media only screen and (min-width: 1024px) {
  .container {
    display: grid;

    grid-template-columns: 35% 80%;
    grid-template-rows: 120% 30%;

    grid-template-areas:
      'header main'
      'header nav';
  }

  h1 {
    font-family: courier;
    text-align: center;
    font-size: large;
    margin-top: 5%;
    text-decoration: underline;
  }

  p {
    font-family: courier bold;

    margin-left: 20px;
    margin-right: 20px;
    font-size: large;
    /*float: right;%/

    /*margin: 0 50px -150px 150px;*/
  }

  img {
    border: 1px solid black;
  }

  a {
    font-family: courier;
    font-size: large;
  }

  ul {
    margin-top: 5%;
  }

  ul li {
    border: 3px solid black;
    font-size: large;
    display: block;
    width: 95%;
  }

  li {
    text-align: center;
  }

  .linkbottom {
    border-bottom: none;
  }

  .site_header {
    background-color: yellow;

    border: 5px solid black;

    grid-area: header;
  }

  .site_main {
    background-color: lightblue;
    border-bottom: none;
    border-left: none;
    grid-area: main;
    border: 5px solid black;
    border-left: 0px;
    border-left: none;
  }

  .site_nav {
    background-color: yellow;
    grid-area: nav;
    border-top: 0px;
    border-bottom: 5px solid black;
    border-left: 0px;
  }

  form {
    border: 2px solid black;
    margin: 50px 10px 0 10px;
    /* padding-top: 30px;
    padding-left: 100px;
    padding-bottom: 50px;*/
  }

  .contactopnemen {
    display: block;

    /*
    
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    */
  }
}
